{% extends 'accounts/main.html' %}

{% block content %}
  {% include "accounts/status.html" %}

  <br>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col col-md-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CUSTOMERS:</h5>
            <hr>
            <div class="d-grid gap-2">
              <a class="btn btn-primary btn-sm" href="">Create Customer</a>
            </div>
            <table class="table table-sm table-hover mt-2">
              <tr>
                <th></th>
                <th>Customer</th>
                <th>Phone</th>
              </tr>
              {% for customer in customers %}
              <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.slug %}">View</a></td>
                <td>{{ customer.name}}</td>
                <td>{{ customer.phone}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-7">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">LAST 5 ORDERS</h5>
            <hr>
            <table class="table table-sm">
              <tr>
                <th>Product</th>
                <th>Date Ordered</th>
                <th>Status</th>
                <th>Update</th>
                <th>Remove</th>
              </tr>
              {% for order in orders %}
              <tr>
                <td>{{ order.product}}</td>
                <td>{{ order.date_created}}</td>
                <td>{{ order.status}}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}" data-bs-toggle="modal"
                       data-bs-target="#confirmation_window" onclick="deleteUser(this)">Delete</a>
                </td>
              </tr>
              {% include "accounts/modal_confirm_delete.html" %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


