<!-- Modal -->
<div class="modal fade" id="confirmation_window" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure You want to delete this order?
      </div>
      <div class="modal-footer">
        <form method="post" id="confirm-delete">
          {% csrf_token %}
          <button type="button" class="btn btn-info" data-bs-dismiss="modal">No, go back!</button>
          <button type="submit" class="btn btn-danger">Yes, delete order</button>
        </form>
      </div>
    </div>
  </div>
</div>