<div class="container-fluid mt-2">
  <div class="row text-light">
    <div class="col">
      <div class="card text-center" id="total-orders">
        <div class="card-header">
          <h5 class="card-title">Total Orders</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ total_orders }}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center" id="orders-delivered">
        <div class="card-header">
          <h5 class="card-title">Orders Delivered</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ orders_delivered }}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center" id="orders-pending">
        <div class="card-header">
          <h5 class="card-title">Orders Pending</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ orders_pending }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>